@import '../../styles/variables.scss';

.nav {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 80px;
	width: 90vw;
	margin: auto;
	max-width: 1014px;

	.brand {
		font-weight: 500;
		font-size: 24px;
	}
}

.nav_links {
	a {
		margin-left: 25px;
	}
}

@media (min-width: 600px) {
	.nav {
		height: 50px;
		flex-direction: row;
		justify-content: space-between;
		.brand {
			font-weight: 700;
		}
	}
}
